@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scrollbar-hidden::-webkit-scrollbar {
        @apply hidden;
    }

    .container {
        @apply w-full max-w-[90%] xs:px-6 md:px-12 lg:px-24
    }
}

@layer base {
    body {
        @apply text-dark;
        background-color: #FFFFEC;
    }

    /* Fix for react-toastify passive event listener issue */
    .Toastify__toast-container {
        touch-action: manipulation;
    }

    .Toastify__toast {
        touch-action: manipulation;
    }
}